@use 'variables' as *;
@mixin flexMethod($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
@mixin borderCheck{
    border: 2px dotted black;
}

.mainText{
    @include flexMethod(column);
    text-align: center;
    margin: 40px 25px 40px 25px;
    box-sizing: border-box;
    h1{
        font-weight: 350;
        color: $grey400;
        font-size: 1.6rem;
        max-width: 350px;
        margin-bottom: 0;
    }
    h2{
        font-weight: 400;
        color: $grey500;
        font-size: 1.6rem;
        margin-top: 0;
    }
    p{
       color: $grey400;
       font-size: 1rem;
       margin: 0;
       max-width: 550px;
    }
}
.container{
    display: grid;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    .card{
        border-radius: 10px;
        box-shadow: 1px 8px 20px rgba(174, 205, 216, 0.4),
        -1px 8px 20px rgba(174, 205, 216, 0.4);
        padding: 10px;
        display: grid;
        &:nth-child(1){
            border-top: 4px solid $cyan;
        }
        &:nth-child(2){
            border-top: 4px solid $red;
        }
        &:nth-child(3){
            border-top: 4px solid $orange;
        }
        &:nth-child(4){
            border-top: 4px solid $blue;
        }
        img{
            justify-self: end;
            padding: 10px;
            margin: 10px 10px 20px 0;
        }
        h2{
            color: $grey500;
            font-weight: 600;
            margin: 20px 0 0 20px;
            font-size: 1.2rem;
        }
        p{
            color: $grey400;
            font-size: 0.8rem;
            margin: 5px 40px 10px 20px;
        }
    }
}